<%- include('./includes/top') %>

  <body>
    <%- include('./includes/navigation.ejs') %>

      <main class="myContainer">
        <h1><%- username %>'s Profile</h1>
        <div>
          <% if (loggedIn) { %>
            <a href="./add-post">Post an Event!</a>
            <% } %>
        </div>
        <div class="parallax"></div>
          <%- include('./post/posts') %>

      </main>
      <%- include('./sidebar') %>

  </body>
  <%- include('./includes/bottom') %>