<%- include('./includes/top.ejs') %>

  <body>
    <%- include('./includes/navigation.ejs') %>

      <main class="myContainer">
        <h1>Around Town</h1>
        <div>
          <% if (loggedIn) { %>
            <a href="/add-post">Post an Event!</a>
            <% } %>
        </div>
        <div class="parallax"></div>
        <div class="container"> 
          <%- include('../views/post/display-posts.ejs') %>
          <h1 class="mb-4">New Event</h1>
          <form action="/api/posts" method="POST" onSubmit={onSubmit}>
            <input className="eventFiled" placeholder="Event Name" type="text">
            <input className="eventTime" placeholder="Time" type="time">
            <input className="eventDate" placeholder="Date" type="date">
            <input className="eventLocat" placeholder="Location" type="location">
            <br></br>
            <textarea className="eventDescr" placeholder="Description" type="text"></textarea>
            <!-- <input className="eventImg" placeholder="Add Images" type="image"> -->
            <br></br>
            <button className="submitBtn">Submit</button>
          </form>


      </main>
      <%- include('./sidebar.ejs') %>

  </body>
  <%- include('./includes/bottom.ejs') %>